* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
    font-family: sans-serif !important;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    padding: 0px 5%;
}

.logo img {
    height: 58px;
    width: 80px;
}

.title h1 {
    color: #fff;
    text-align: center;
    max-width: 300px;
}

/* nav */
.menu {
    height: 58px;
    width: 80px;
}

.navigation__checkbox {
    display: none;
}

.navigation__button {
    height: 58px;
    width: 80px;
    text-align: right;
    position: absolute;
    z-index: 2000;
    cursor: pointer;
}

.navigation__background {
    background-color: transparent;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 0;
    -webkit-transition: background-color 0s;
    -moz-transition: background-color 0s;
    -o-transition: background-color 0s;
    -ms-transition: background-color 0s;
    transition: background-color 0s;
}

.navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    visibility: hidden;
    width: 0;
    transition: all 0s;
}

.navigation__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
}

.navigation__link {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 8px 12px;
    text-decoration: none;
    transition: all 0.4s;
    cursor: pointer;
}

.navigation__link::after {
    content: '';
    width: 0%;
    height: 3.2px;
    background: #fff;
    display: block;
    margin: 5px auto 0px;
    transition: 0.5s;
}

.navigation__link:hover::after {
    width: 100%;
}

.navigation__checkbox:checked~.navigation__background {
    background: #fdca2c;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -o-transition: background-color .3s;
    -ms-transition: background-color .3s;
    transition: background-color .3s;
}

.navigation__checkbox:checked~.navigation__nav {
    opacity: 1;
    visibility: visible;
    width: 100%;
    transition: all .5s;
}

.navigation__icon {
    position: relative;
    margin-top: 27px;
}

.navigation__icon,
.navigation__icon::before,
.navigation__icon::after {
    width: 35px;
    height: 4px;
    background: #fff;
    display: inline-block;
}

.navigation__icon::before,
.navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.3s;
}

.navigation__icon::before {
    top: -11px;
}

.navigation__icon::after {
    top: 11px;
}

.navigation__button:hover .navigation__icon::before {
    top: -12px;
}

.navigation__button:hover .navigation__icon::after {
    top: 12px;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon {
    background: transparent;
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
}

.navigation__checkbox:checked+.navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
}

@media (max-width: 700px) {
    .navbar {
        padding: 0px 15px;
    }

    .logo img {
        height: 60px;
        width: 81px;
    }

    .menu {
        height: 60px;
        width: 81px;
    }

    .navigation__button {
        height: 60px;
        width: 81px;
    }

    .navigation__icon {
        margin-top: 28px;
    }
}
